.KatalogWrapper {
    padding: 70px 0;
}

.Container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.FlexContainer {
    display: flex;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.sitebar {
    width: 22%;
    margin-right: 30px;
}

.sitebar .katalogMenu {
    display: flex;
    flex-direction: column;
}

.sitebar .katalogMenu li a {
    font-size: 1rem;
    font-weight: 700;
    color: #0a6c85;
}

.sitebarFilter {
    border-radius: 5px;
    border: 1px solid #f3f3f3;
    padding: 15px 20px;
    margin-bottom: 30px;
}

.sitebarFilter .name {
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 10px;
}

.sitebarFilter label {
    display: block;
    margin-bottom: 7px;
    position: relative;
    font-size: 10px;
}

.sitebarFilter label input {
    display: none;
}

.sitebarFilter label span {
    padding-left: 30px;
    cursor: pointer;
    display: inline-block;
}

.sitebarFilter label span:before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid #aaa;
    position: absolute;
    top: 1px;
    left: 0;
}

.sitebarFilter label span a {
    font-size: 16px;
    text-decoration: none;
    color: #0a6c85;
}

.katalog {
    width: 75%;
}

.katalog .title {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.katalog .subtitle {

}

